:root {
  --mainBackground: #BCBDC2;
  --windowTop: #30333F;
  --windowButtons: #51545E;
  --windowText: #727580;
  --windowRadius: 8px;
  --red: #EC6A5E;
  --yellow: #F5BF4F;
  --green: #62C654;
  --zoomActive: #F7F9A4;
  --zoomHover: #D2F992;
  --windowTopSlack: #321E36;
  --windowBackgroundSlack: #39113E;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: var(--mainBackground) top/cover no-repeat url("../i/desktop.png");
}
h2 {
  margin: 16px 16px 12px;
  font-size: 1.5em;
  font-weight: bold;
}
h4 {
  margin: 20px 16px;
  font-weight: bold;
}
h5 {
  margin: 12px 16px;
}
h6 {
  margin-bottom: 6px;
  font-size: .8em;
  color: var(--windowText);
}
.hidden {
  display: none;
}
.window {
  width: 80%;
  margin: 2em auto;
}
.modal {
  width: 40%;
  position: absolute;
  top: 3.3em;
  left: 28%;
  z-index: 20;
}
.window-top {
  padding: 8px;
  color: var(--windowText);
  text-align: center;
  border-top: ridge 2px var(--windowButtons);
  border-right: ridge 2px var(--windowButtons);
  border-left: ridge 2px var(--windowButtons);
  border-top-left-radius: var(--windowRadius);
  border-top-right-radius: var(--windowRadius);
  overflow: hidden;
}
.zoom .window-top {
  background-color: var(--windowTop);
}
.slack .window-top {
  background-color: var(--windowTopSlack)
}
.window-bottom {
  height: 10px;
  border-bottom: ridge 2px var(--windowButtons);
  border-right: ridge 2px var(--windowButtons);
  border-left: ridge 2px var(--windowButtons);
  border-bottom-left-radius: var(--windowRadius);
  border-bottom-right-radius: var(--windowRadius);
  box-shadow: 0 10px 10px;
}
.zoom .window-bottom {
  background-color: black;
}
.slack .window-bottom {
  background-color: var(--windowBackgroundSlack);
}
.buttons {
  float: left;
}
.button {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;

}
.button:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.red {
  background-color: var(--red);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.window-main {
  border-right: ridge 2px var(--windowButtons);
  border-left: ridge 2px var(--windowButtons);
  box-shadow: 0 10px 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.zoom .window-main {
  background-color: black;
}
.slack .window-main {
  background-color: white;
}
.zoom-pane {
  width: 24%;
  margin-top: 12px;
  align-items: center;
}
.zoom-pane img {
  width: 100%;
}
.zoom-pane img:hover {
  border: solid 2px var(--zoomHover);
}
.zoom-pane img:active {
  border: solid 4px var(--zoomActive);
}
.student figcaption {
  position: relative;
  bottom: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  margin: 0 10px -32px 0;
}
.student img, .instructor img {
  width: 100%;
}
.refresh {
  width: 1em;
  height: 1em;
  display: inline-block;
  background: top/cover no-repeat url(../i/refresh.png);
  cursor: pointer;
}
.instructor {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.instructor .side {
  background-color: var(--windowBackgroundSlack);
  border-top: solid 1px var(--windowButtons);
  border-right: solid 1px var(--windowButtons);
}
.instructor .side img {
  padding: 16px 6px;
}
.instructor .content {
  border-top: solid 1px var(--windowButtons);
  border-bottom: solid 1px var(--windowButtons);
}
.instructor li {
  padding: 20px 16px;
  border-top: solid 1px #EEE;
}
.instructor a {
  color: inherit;
  text-decoration: none;
}
.ga-folder {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 2.5em;
  right: 1.5em;
}
.ga-folder:hover {
  cursor: pointer;
}
@media screen and (max-width: 820px) {
  .zoom-pane {
    width: 32%;
  }
  .modal {
    width: 50%;
    left: 25%;
  }
}
@media screen and (max-width: 760px) {
  .window {
    width: 88%;
  }
  .zoom-pane {
    width: 48%;
  }
  .modal {
    position: fixed;
    width: 70%;
    left: 14%;
  }
  .ga-folder {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  body {
    background: var(--mainBackground);
  }
  .window {
    width: 99%;
    margin: 2px;
  }
  .zoom-pane {
    width: 96%
  }
  .modal {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 2em;
  }
}
